/* GAMA DE COLORES: AZUL #2563EB*/
.cajaSombraAzul {box-shadow: #2563EB 10px 10px 10px;}
.cajaSombraAzulHover:hover {box-shadow: #2563EB 10px 10px 10px;}


/* GAMA DE COLORES: CYAN MODERNO #06B6D4*/
.cajaSombraAzul {box-shadow: #06B6D4 10px 10px 10px;}
.cajaSombraAzulHover:hover {box-shadow: #06B6D4 10px 10px 10px;}

/* GAMA DE COLORES: NARANJA #FB923C*/
.cajaSombraAzul {box-shadow: #FB923C 10px 10px 10px;}
.cajaSombraAzulHover:hover {box-shadow: #FB923C 10px 10px 10px;}

/* GAMA DE COLORES: AMARILLO #FACC15*/
.cajaSombraAzul {box-shadow: #FACC15 10px 10px 10px;}
.cajaSombraAzulHover:hover {box-shadow: #FACC15 10px 10px 10px;}

/* GAMA DE COLORES: BLANCA #EFFFFF*/
.cajaSombraAzul {box-shadow: #EFFFFF 10px 10px 10px;}
.cajaSombraAzulHover:hover {box-shadow: #EFFFFF 10px 10px 10px;}

/* GAMA DE COLORES: PINK ROSA #EC4899*/
.cajaSombraAzul {box-shadow: #EC4899 10px 10px 10px;}
.cajaSombraAzulHover:hover {box-shadow: #EC4899 10px 10px 10px;}

/* GAMA DE COLORES: MORADO #6D28D9*/
.cajaSombraAzul {box-shadow: #6D28D9 10px 10px 10px;}
.cajaSombraAzulHover:hover {box-shadow: #6D28D9 10px 10px 10px;}

/* GAMA DE COLORES: ROJO #EF4444*/
.cajaSombraAzul {box-shadow: #EF4444 10px 10px 10px;}
.cajaSombraAzulHover:hover {box-shadow: #EF4444 10px 10px 10px;}

/* GAMA DE COLORES: Verde Success  #22c55e*/
.cajaSombraAzul {box-shadow: #22c55e 10px 10px 10px;}
.cajaSombraAzulHover:hover {box-shadow: #22c55e 10px 10px 10px;}

/* GAMA DE COLORES: Verde SOFT #86EFAC*/
.cajaSombraAzul {box-shadow: #86EFAC 10px 10px 10px;}
.cajaSombraAzulHover:hover {box-shadow: #86EFAC 10px 10px 10px;}

/* GAMA DE COLORES: Verde Oscuro #15803d*/
.cajaSombraAzul {box-shadow: #15803d 10px 10px 10px;}
.cajaSombraAzulHover:hover {box-shadow: #15803d 10px 10px 10px;}

/* GAMA DE COLORES: Rojo suave #FCA5A5*/
.cajaSombraAzul {box-shadow: #FCA5A5 10px 10px 10px;}
.cajaSombraAzulHover:hover {box-shadow: #FCA5A5 10px 10px 10px;}

/* GAMA DE COLORES: Rojo oscuro #991B1B*/
.cajaSombraAzul {box-shadow: #991B1B 10px 10px 10px;}
.cajaSombraAzulHover:hover {box-shadow: #991B1B 10px 10px 10px;}

/* GAMA DE COLORES: Gris Claro #E5E7EB*/
.cajaSombraAzul {box-shadow: #E5E7EB 10px 10px 10px;}
.cajaSombraAzulHover:hover {box-shadow: #E5E7EB 10px 10px 10px;}

/* GAMA DE COLORES: Gris Oscuro #374151*/
.cajaSombraAzul {box-shadow: #374151 10px 10px 10px;}
.cajaSombraAzulHover:hover {box-shadow: #374151 10px 10px 10px;}

/* GAMA DE COLORES: Negro #333333*/
.cajaSombraAzul {box-shadow: #333333 10px 10px 10px;}
.cajaSombraAzulHover:hover {box-shadow: #333333 10px 10px 10px;}