.textoLato {font-family: 'Lato', sans-serif; font-weight: 380;}
.textoOrbitron {font-family: 'Orbitron', sans-serif; font-weight: 380;}
.textoNova {font-family: 'Nova Square', sans-serif;}
.textoPixel {font-family: 'Pixelify Sans', sans-serif;}
.textoLilita {font-family: 'Lilita One', sans-serif;}
.textoDibujado {font-family: 'FFF Tusj', sans-serif;}
.textoComando {font-family: 'Super Commando', sans-serif;}
.textoSerio {font-family: 'Bebas Neue', sans-serif;}
.textoFino {font-family: 'Violina', sans-serif;}
.textoChanga {font-family: 'Changa', sans-serif;}
.textoOsvaldo {font-family: 'Oswald', sans-serif;}
.textoPt {font-family: 'PT Serif', serif;}
.textoRoboto {font-family: "Roboto", sans-serif;}