.imagen1_insert_sql {
    background-image: url(../images/tabla1.png);
    
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}

.imagen2_insert_sql {
    background-image: url(../images/tabla2.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.imagen3_insert_sql {
    background-image: url(../images/tabla3.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.imagen4_insert_sql {
    background-image: url(../images/tabla4.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.imagen5_insert_sql {
    background-image: url(../images/tabla5.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.imagen6_insert_sql {
    background-image: url(../images/tabla6.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.imagen7_insert_sql {
    background-image: url(../images/tabla7.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.imagen8_insert_sql {
    background-image: url(../images/tabla8.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.imagen9_insert_sql {
    background-image: url(../images/tabla9.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.imagen10_insert_sql {
    background-image: url(../images/tabla10.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.imagen11_insert_sql {
    background-image: url(../images/tabla11.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.imagen12_insert_sql {
    background-image: url(../images/tabla12.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.imagen13_insert_sql {
    background-image: url(../images/tabla13.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.imagen14_insert_sql {
    background-image: url(../images/tabla14.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.imagen15_insert_sql {
    background-image: url(../images/tabla15.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.imagen16_insert_sql {
    background-image: url(../images/tabla16.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.imagen17_insert_sql {
    background-image: url(../images/tabla17.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.imagen18_insert_sql {
    background-image: url(../images/tabla18.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.imagen19_insert_sql {
    background-image: url(../images/tabla1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.imagen20_insert_sql {
    background-image: url(../images/tabla2.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.imagen21_insert_sql {
    background-image: url(../images/tabla3.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.imagen22_insert_sql {
    background-image: url(../images/tabla1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.imagen23_insert_sql {
    background-image: url(../images/tabla2.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.imagen24_insert_sql {
    background-image: url(../images/tabla3.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.imagen25_insert_sql {
    background-image: url(../images/tabla3.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.imagen26_insert_sql {
    background-image: url(../images/tabla3.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.imagen27_insert_sql {
    background-image: url(../images/tabla3.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.imagen28_insert_sql {
    background-image: url(../images/tabla1.png);
    
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}

.imagen29_insert_sql {
    background-image: url(../images/tabla2.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.imagen30_insert_sql {
    background-image: url(../images/tabla3.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.imagen31_insert_sql {
    background-image: url(../images/tabla4.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.imagen32_insert_sql {
    background-image: url(../images/tabla5.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.imagen33_insert_sql {
    background-image: url(../images/tabla6.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.imagen34_insert_sql {
    background-image: url(../images/tabla7.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.imagen35_insert_sql {
    background-image: url(../images/tabla8.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.imagen36_insert_sql {
    background-image: url(../images/tabla9.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.imagen37_insert_sql {
    background-image: url(../images/tabla10.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    max-width: 600px;
}