footer

.contenedorPopup {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.botonModal {
    width: 7vw;
    height: 3vh;
    padding: 0.5vw;
}

.botonModal, .botonModal label, .btnCerrar label, .contenedorModal {
    border-radius: 5px;
}

.botonModal, .botonModal label, .btnCerrar label {
    cursor: pointer;
}

.botonModal label {
    width: 100%;
    height: 100%;
    transition: all 300ms ease;
    padding: 5%;
}

.botonModal label:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(35, 160, 218);
}

.btnCerrar label {
    background-color: rgb(255, 255, 255);
    color: rgb(35, 160, 218);
    transition: all 300ms ease;
    font-size: smaller;
    padding: 0.4vw;
    cursor: pointer;
}

#btnModal {
    display: none;
    font-size: small;
}

.contenedorModal {
    background-color: rgb(35, 160, 218);
    position: absolute;
    width: 30%;
    height: 80%;
    top: 0%;
    left: 0%;

    display: none;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

#btnModal:checked ~ .contenedorModal {
    display: flex;
}

.contentModal {
    width: 100%;
    max-width: 70%;
}

/*titulo subrayado*/
.tituloPopup {
    color: rgb(255, 255, 255);
    font-size: medium;
    margin-bottom: 3%;
}

/*texto debajo del titulo*/
.subtituloPopup {
    color: rgb(228, 228, 228);
    margin-bottom: 5%;
    font-size: small;
}

/*BOTON DE CERRRAR*/
.btnCerrar label:hover {
    background-color: rgb(35, 160, 218);
    color: rgb(255, 255, 255);
}

.botonModal {
    margin-left: 0%;
    margin-top: 0%;
    display: flex;
    justify-content: center;
    height: auto;
}

.contenedorModal {
    position: absolute;
    width: 40%;
    height: 80%;
    top: 0%;
    left: 0%;
    background-color: rgb(9, 118, 168);
    display: none;
    justify-content: center;
    align-items: center;
    margin: 2vh;
}